#header-img{
  width: 175px;
  height: 100px;

}
#header {
    position:relative;
    display:block;
    max-width:100%;
    height:100%;
    margin:0 auto;
    padding:2rem 5rem;
    background: linear-gradient(90deg, black, gray, white);
    color: white;
  font-size: 25px;
}
header h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;

}
#nav-bar {
  margin-bottom: 0;
  list-style: none;
  float: right;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: linear-gradient(90deg, black, gray, white);
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding-left: 950px;
  padding-top: 75px;
}

nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: "Open Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: #222;
    padding:0 1rem;
}
h2{
  text-align: center;
  font-size: 20px
}
input{
  height: 30px;
  width: 300px;
  font-size: 20px;
  text-align: center;
}
#best-quality{
  height: 75px;
  width: 75px;
  float: left;
  padding-right: 20px;
  padding-left: 250px;
}
#shipping{
  height: 75px;
  width: 75px;
  float: left;
  padding-right: 20px;
  padding-left: 250px;
}
#quality{
  height: 75px;
  width: 75px;
  float: left;
  padding-right: 20px;
  padding-left: 250px;
}
#video{
  width: 853px;
  height: 480px;
  padding-left: 275px;
  padding-bottom: 100px;
}
.feature{
  text-align: left;
}
.shipping{
  text-align: left;
}
.quality{
  text-align: left;
}

.column {
    float: left;
    position: relative;
    padding: 100px;
    width: 20%;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border: solid black;

}

.column-offset-1 {
    left: 40%;
}
.column-offset-2 {
    left: 40%;
}
.column-offset-3 {
    left: 40%;
}

.column-inset-1 {
    left: -20%;
}
.column-inset-2 {
    left: -40%;
}
.column-inset-3 {
    left: -60%;
}
