#header-img{
  width: 80px;
  height: 60px;
  padding-left: 15px;
}
#header {
    position:relative;
    display:block;
    max-width:100%;
    height:100%;
    margin:0 auto;
    padding:1rem 5rem;
    background: linear-gradient(red,       yellow, black);
    color: black;
    font-size: 30px;
  font-weight: bold;
}
#nav-bar {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
}
nav li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: "Open Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: #222;
    padding:0 1rem;
}
