#navbar {
  background-color: darkred;
  overflow: hidden;
}
#navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}
#about{
  text-align: center;
  padding-top: 75px;
  font-family: sans-serif;
  color: white;
}
#welcome-section{
  background-color: black;
}
#projects{
  background-color: darkred;
}
#wrapper{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
#item{
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
}
