#navbar {
  background-color: darkred;
  overflow: hidden;
 position: fixed;
  padding-left: 79%;
}
#navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;

}
#about{
  text-align: center;
  padding-top: 75px;
  font-family: sans-serif;
  color: white;
}
#welcome-section{
  background-color: black;
}
#projects{
  background-color: darkred;
}
#wrapper{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
#item{
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 100px;
}
  @media not|only mediatype and (expressions) {
  CSS-Code;
 }
#welcome-section {
  height: 100vh;
}
#contact-link{
  color: white;
}
.contact-section-header{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.contact-image{
  height: 75px;
  width: 75px;
  padding-left: 75px;
}
