#navbar {
  background-color: darkred;
  overflow: hidden;
}
#navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}
#about{
  text-align: center;
  padding-top: 75px;
  font-family: sans-serif;
  color: white;
}
#welcome-section{
  background-color: black;
}
#projects{
  background-color: darkred;
}
.codepen{
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1 fr))
}
