body{
  text-align: center;
 background: url(https://media.istockphoto.com/photos/cutting-board-with-chef-hat-knife-tomatoes-onion-background-picture-id185095805?k=6&m=185095805&s=612x612&w=0&h=WaCGCHRCyQwFAt3OX0n47Qk0iKf9s6Nh_3rZJnPkzQQ=) no-repeat center;
background-size: cover;
}
#survey-form{
  padding-left: 350px;
  padding-right: 350px;
  background: gray;
  background-clip: content-box;
  opacity: .75;
  font-size: 25px;
  text-align: left;
}
