body{
  text-align: center;
  background-image: url("https://previews.123rf.com/images/9dreamstudio/9dreamstudio1907/9dreamstudio190703586/127745800-tools-and-equipment-for-cooking-frame-of-cookware-for-chef-work-on-white-background-top-view-space-f.jpg");
}
#survey-form{
  text-align: left;
  padding-left: 400px;
  background-color:
}
