#main{
background: linear-gradient(-0.25turn, #3f87a6, #ebf8e1, #f69d3c);
text-align: center;
}
#img-div{

}
#image{
  border-radius: 100px;
  height: 600px;
  width: 800px;
}
#image-caption{

}
#tribute-info{

}
