#main{
background: linear-gradient(-0.25turn, #3f87a6, #ebf8e1, #f69d3c);
text-align: center;
}
#title{
  font-family: sans-serif;
  text-decoration-line: underline;
  font-size: 50px;
}
#img-div{
border-radius: 150px;
border-style: dashed groove none dotted;
}
#image{
width: 200%;
height: auto;
max-width: 800px;
margin-left: auto;
margin-right: auto;
display: block;
}
#image-caption{
font-family: sans-serif;

}
#tribute-info{
border-style: solid;
  font-size: 45px;
}
.tribute-info{
  text-align: left;
  font-size: 35px;
}
.chefs{
  font-size: 35px;
  border-style: dotted;
  font-family: sans-serif;
}
